#stage {
    margin: 0 auto;
    width: 750px;
    border: 1px solid #DDD;
}

.multivs {
    border: 1px solid #D00;
    height: 550px;
}

.settings {
    border: 1px solid #0D0;
    width: 100%;
    height: 10%;
}

.rightpanel {
    border: 1px solid #00D;
    width: 32%;
    height: 90%;
    float: right;
}

.scoreboard {
    border: 1px solid #00D;
    height: 50%;
}

.chat {
    border: 1px solid #00D;
    height: 50%;
}

.guesses {
    border: 1px solid #0DD;
    height: 70%;
}